{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Duplify | Setup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:300,500);

        .popover{
            max-width: 100%; /* Max Width of the popover (depending on the container!) */
        }

        #keylist li {
            list-style-type: none;
            padding: 3px;
            margin: 6px;
            width: 90%;
            font-size: 85%;
            -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
            cursor: move;
        }

        {#body {#}
        {#  font-family: 'Roboto', sans-serif;#}
        {#  font-size: 14px;#}
        {#  text-align: center;#}
        {#}#}
         .lbl {
             position: relative;
             display: block;
             height: 20px;
             width: 44px;
             background: #898989;
             border-radius: 100px;
             cursor: pointer;
             transition: all 0.3s ease;
        }
         .lbl:after {
             position: absolute;
             left: -2px;
             top: -3px;
             display: block;
             width: 26px;
             height: 26px;
             border-radius: 100px;
             background: #fff;
             box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
             content: '';
             transition: all 0.3s ease;
        }
         .lbl:active:after {
             transform: scale(1.15, 0.85);
        }
         .cbx:checked ~ label {
        }
         .cbx:checked ~ label:after {
             left: 20px;
             background: #ffffff;
        }
         .cbx:disabled ~ label {
             background: #0fb015;
             pointer-events: none;
        }
         .cbx:disabled ~ label:after {
             background: #7cff70;
        }
         .cntr {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
        }
         .press {
             margin-bottom: 40px;
        }
         .hidden {
             display: none;
        }
         .jumbotron, .container{
             overflow-y: auto;
             scroll-behavior: smooth;
         }
         ul:empty::after{
            content: attr(data-empty-message);
        }
        a {
            text-shadow:
                    -0.125px -0.125px 0 #fff,
                    0.125px -0.125px 0 #fff,
                    -0.125px 0.125px 0 #fff,
                    0.125px 0.125px 0 #fff;
        }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="bg-secondary"style="overflow: hidden;">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script src="https://www.jqueryscript.net/demo/Polygonal-Particles-Background-polygonizr/polygonizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.2/mousetrap.min.js"></script>
<script>
    $(document).ready(function() {
        var data = [
            {% for key, rep_uniqueness, rep_utility, sf_uniqueness, sf_utility, score in keys %}
                {
                    id: {{ forloop.counter0 }},
                    text:"{{ key }}",
                    value:'{{ key }}',
                    rep_uniqueness: {{ rep_uniqueness }},
                    rep_utility: {{ rep_utility }},
                    sf_uniqueness: {{ sf_uniqueness }},
                    sf_utility: {{ sf_utility }}
                },
            {% endfor %}
        ]
        function pill_color(percentage) {
            var cc;
             if (percentage >= 75) {
                cc = 'success';
            }
            else if (percentage >= 25){
                cc = 'warning';
            } else{
                cc = 'danger';
            }
            return cc;
        }
        function colorCode(field) {
            //function to call for this sorting, that returns cc
            var $field = $('<tr><td><b>'+field.text + ' |</b></td>  <td ' +
                'class="badge  badge-pill text-white bg-' + pill_color(field.rep_uniqueness) + '">Rep Uniquness: ' +field
                    .rep_uniqueness + '%' +'</td> <td class="badge  badge-pill text-white bg-' +
                pill_color(field.rep_utility) + '"> Rep Utiliy: ' +field.rep_utility + '%' +'</td> <td ' +
                'class="badge  badge-pill text-white bg-' + pill_color(field.sf_uniqueness) + '"> SF Uniquness: ' +field
                    .sf_uniqueness + '%' +'</td> <td class="badge  badge-pill text-white bg-' +
                pill_color(field.sf_utility) + '">SF Utility: ' +field.sf_utility + '%' +'</td></tr>' );
            return $field;
        }
        $('.js-example-basic-multiple').select2({
            theme: "bootstrap",
            placeholderOption: 'first',
            data: data,
            templateResult: colorCode
        });
        $('input').addClass('mousetrap');

        Mousetrap.bind('command+k', function() {
            //alert('swag');
            $( "#create" ).trigger( "click" );
        });

        YUI().use('sortable', function(Y) {
            var sortable = new Y.Sortable({
                container: '#keylist',
                nodes: 'li',
                opacity: '.1'
            });
        });
    });
    var old_repPercent = 0,
        old_keyPercent = 0,
        inter;
    function bg() {
        $("body").polygonizr({
            restNodeMovements: 0,// How long to pause in between new node-movements.
            duration: 4, // When the cluster updates, this sets speed of nodes.
            nodeMovementDistance: 400, // Define the maximum distance to move nodes.
            numberOfNodes: 36,// The number of node nodes to print out.
            nodeDotSize: 2.5,// Define the maximum size of each node dot.
            nodeEase: "linear",//linear, easeIn, easeOut, easeInOut, accelerateDecelerate.
            nodeFancyEntrance: false,// If true, the nodes will descend into place on load.
            randomizePolygonMeshNetworkFormation: false,// Makes the cluster forms an ellipse inspired formation, random if true.
            // Define a formula for how to initialize each node dot's position.
            specifyPolygonMeshNetworkFormation: function (i) {
                var forEachNode = {// Half a circle and randomized
                    x: this.canvasWidth - ((this.canvasWidth / 2) + (this.canvasHeight / 2) * Math.cos(i * (2 * Math.PI / this.numberOfNodes))) * Math.random(),
                    y: this.canvasHeight - (this.canvasHeight * (i / this.numberOfNodes))
                };
                return forEachNode;
            },
            nodeRelations: 15,// Number of relations between nodes.
            animationFps: 300, // The FPS for the whole canvas.
            nodeDotColor: "0, 0 0 ",// Sets the color of the nodes in the network (RGB).
            nodeLineColor: "0, 0, 0 ",// Sets the color of the lines in the network (RGB).
            nodeFillColor: "0, 0, 0 ",// Sets the color of  triangles in the network (RGB).
            nodeFillAlpha: 2,// Sets the alpha level for the colors (1-0).
            nodeLineAlpha: 0, // Sets the alpha level for the lines (1-0).
            nodeDotAlpha: 0,// Sets the alpha level for the dots (1-0).
            nodeFillSpace: true,// Defines if the triangles in the network should be shown.
            nodeGlowing: false,// Define if the active animation should glow or not (not CPU friendly).
            // Define the canvas size and css position.
            canvasWidth: $(this).width(),
            canvasHeight: $(this).height(),
            canvasPosition: "absolute"

        });
        $("body").polygonizr({
            restNodeMovements: 0,// How long to pause in between new node-movements.
            duration: 8, // When the cluster updates, this sets speed of nodes.
            nodeMovementDistance: 400, // Define the maximum distance to move nodes.
            numberOfNodes: 36,// The number of node nodes to print out.
            nodeDotSize: 1,// Define the maximum size of each node dot.
            nodeEase: "linear",//linear, easeIn, easeOut, easeInOut, accelerateDecelerate.
            nodeFancyEntrance: false,// If true, the nodes will descend into place on load.
            randomizePolygonMeshNetworkFormation: false,// Makes the cluster forms an ellipse inspired formation, random if true.
            // Define a formula for how to initialize each node dot's position.
            specifyPolygonMeshNetworkFormation: function (i) {
                var forEachNode = {// Half a circle and randomized
                    x: this.canvasWidth - ((this.canvasWidth / 2) + (this.canvasHeight / 2) * Math.cos(i * (2 * Math.PI / this.numberOfNodes))) * Math.random(),
                    y: this.canvasHeight - (this.canvasHeight * (i / this.numberOfNodes))
                };
                return forEachNode;
            },
            nodeRelations: 15,// Number of relations between nodes.
            animationFps: 300, // The FPS for the whole canvas.
            nodeDotColor: "255, 255, 255 ",// Sets the color of the nodes in the network (RGB).
            nodeLineColor: "255, 255, 255",// Sets the color of the lines in the network (RGB).
            nodeFillColor: "255, 255, 255 ",// Sets the color of  triangles in the network (RGB).
            nodeFillAlpha: 3,// Sets the alpha level for the colors (1-0).
            nodeLineAlpha: 0, // Sets the alpha level for the lines (1-0).
            nodeDotAlpha: 0,// Sets the alpha level for the dots (1-0).
            nodeFillSpace: true,// Defines if the triangles in the network should be shown.
            nodeGlowing: false,// Define if the active animation should glow or not (not CPU friendly).
            // Define the canvas size and css position.
            canvasWidth: $(this).width(),
            canvasHeight: $(this).height(),
            canvasPosition: "absolute"

        });
    }
    bg();
    var colors = new Array(
        [127.5,127.5,127.5],
        [255,255,255],
        [0,0,0],
        [255,255,255],
        [0,0,0],
        [127.5,127.5,127.5],);

    var step = 0;
    var colorIndices = [0,1,2,3];

    //transition speed
    var gradientSpeed = 0.001;

    function updateGradient() {

        if ( $===undefined ) return;

        var c0_0 = colors[colorIndices[0]];
        var c0_1 = colors[colorIndices[1]];
        var c1_0 = colors[colorIndices[2]];
        var c1_1 = colors[colorIndices[3]];

        var istep = 1 - step;
        var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
        var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
        var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
        var color1 = "rgb("+r1+","+g1+","+b1+")";

        var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
        var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
        var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
        var color2 = "rgb("+r2+","+g2+","+b2+")";

        $('body').css({
            background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
            background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});

        step += gradientSpeed;
        if ( step >= 1 )
        {
            step %= 1;
            colorIndices[0] = colorIndices[1];
            colorIndices[2] = colorIndices[3];

            //pick two new target color indices
            //do not pick the same as the current one
            colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
            colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;

        }
    }
    setInterval(updateGradient,10);

    $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

    function update_bar(now) {
        var p_bar= $(".progress-bar");
        p_bar.attr('aria-valuenow', now);
        p_bar.animate({width: now+'%'}, 5);
    }

    function update_progress(){
        $.getJSON("{% url 'progress' %}", function (result) {
            var reps = result['reps'],
                dups = result['dups'],
                news = result['news'],
                undies = result['undies'],
                manu = result['manu'],
                doneKeys = result['doneKeys'],
                doneReps = result['doneReps'],
                numKeys = result['numKeys'],
                currKey = result['currKey'],
                keyPercent = result['keyPercent'],
                repPercent = result['repPercent'],
                table = result['table'];
                $("#table").html(table);

            if (keyPercent > old_keyPercent) {
                $('#keyPercent').text(keyPercent);
                update_bar(keyPercent);
            }
            if (repPercent > old_repPercent) {
                $('#repPercent').text(repPercent);
                update_bar(repPercent);
            }
            old_repPercent=repPercent;
            old_keyPercent=keyPercent;

            $('#totalReps').text(reps);
            $('#dups').text(dups);
            $('#new').text(news);
            $('#undies').text(undies);
            $('#donekeys').text(doneKeys);
            $('#numkeys').text(numKeys);




            if (percent > 99){
                clearInterval(inter);
                $("#next").removeClass("invisible");
                $(".progress-bar").removeClass("progress-bar-striped ");
                $(".progress-bar").removeClass("progress-bar-animated");
                $(".progress-bar").addClass("bg-success");
                $(".modal-header").text("Duplify is done! Click Next to see the sorted reps.")
            }


        }).fail(function () {
        });
    }

    function create() {
        var sList;
        var select_data =  $('.js-example-basic-multiple').select2('data');
        $.map(select_data, function (data) {
            sList += (data.value + ' ');
        });
        $('.js-example-basic-multiple').val(null).trigger('change');
        sList = sList.slice(9, sList.length-1);
        //convert sList to have _ instead of spaces (idsList) and make check box id=idsList then select #idsList for genKeys
        var idsList = sList.replace(/ /g, "-");
        var key = '<li class="madeKey bg-secondary rounded"> <div class="row pt-2" style="height: 50px"><div ' +
            'class="col-1"><a ' +
            'onclick="del' +
            '(this)"><span ' +
            'class="btn fa fa-close fa-1x"></span></a></div><div class="col-8" style="height:25px"><p ' +
            'class="key text-white">'+sList+'</p></div> <span style="height: 20px" class="duplicate badge ' +
            'badge-success badge-pill ">Dups</span><input type="checkbox" id="'+idsList+'" class="cbx hidden"/><label' +
            ' ' +
            'for="'+idsList+'" class="lbl"></label><span style="height: 20px" class="manual badge badge-pill ' +
            'badge-primary"> Manual ' +
            '</span></div></li>';
        $("#keylist").append(key);
        $('.js-example-basic-multiple').focus();
    }

    function generateKeys() {
        let keys = "";
        $(".key").each(function () {
            var parts  =$(this).text();
            var idparts = parts.replace(/ /g, "-")
            var sort = $('#'+idparts).is(":checked");
            keys += idparts;
            keys += '-'
            keys += sort;
            keys += '_';
        });
        $.getJSON("{% url 'run' %}", {keys: keys}, function (result) {
            $("#progress").modal('dispose');
        });
        inter = setInterval(update_progress,  15000);
    }
    function del(item) {
        $(item).closest(".madeKey").remove();
    }
    function togglegameon(){
        $("#qwop").fadeIn("slow");
    }
    function togglegameoff(){
        $("#qwop").hide();
    }

    function f() {
        if (confirm('WARNING: You are about to erase all records in the database.')) {
            window.location.replace("{% url 'flush_db' %}");
        } else {
    // Do nothing!
}
    }
</script>
<nav class="navbar navbar-dark bg-info navbar-expand-lg justify-content-between">
    <h1> <a class="navbar-brand" href="#">Duplify</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:f()">Reset</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="progress" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                Duplify is now running. Sit back and relax!
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="my-2 nav nav-pills nav-fill text-white" id="pills-tab" role="tablist">

                        <li role="presentation" class="active nav-item badge-pill"><a   href="#uploadTab" aria-controls="uploadTab" role="tab"
                                                                                        data-toggle="tab"><button
                                class="nav-link btn btn-block  bg-primary nav-pill badge-pill" onclick="togglegameoff()">
                            Progress</button></a>

                        </li>
                        <li  id="br"role="presentation" class=" nav-item badge-pill"><a   href="#browseTab" aria-controls="browseTab" role="tab"
                                                                                          data-toggle="tab"><button
                                class="nav-link btn  bg-primary btn-block nav-pill badge-pill" onclick="togglegameon()">
                            Analytics</button></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content mt-2">
                    <div role="tabpanel" class="tab-pane active" id="uploadTab">
                        Keys Completed
                        <div id="key-progress" class="progress">
                            <div  class="progress-bar progress-bar-striped progress-bar-animated
                            badge-pill" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <b id="keyPercent">0</b><b>%</b>
                            </div>
                        </div>
                        Reps Sorted
                        <div id="rep-progress"  class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated badge-pill" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <b id="repPercent">0</b><b>%</b>
                            </div>
                        </div>
                        <div class="row"><h4 class="col my-2 mx-auto">Rep Distribution</h4></div>
                        <div id="table"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane container" id="browseTab">
                        <div class="col-10 mx-auto"> <object class=""
                                                           classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="640"
                                height="900"
                                align="middle" id="qwop"><param name="movie" value="http://m.toogame.com/q/swfs/QWOP
                                .swf"><param name="quality" value="high"><param name="AllowScriptAccess" value="always">><object type="application/x-shockwave-flash" data="http://m.toogame.com/q/swfs/QWOP.swf" width="640" height="400"><param name="movie" value="http://m.toogame.com/q/swfs/QWOP.swf"><param name="quality" value="high"><param name="AllowScriptAccess" value="always"><a href="http://www.adobe.com/go/getflash"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player"></a></object></object> </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container my-3">
                <a id="next" class="invisible btn btn-success badge-pill btn-block" href="{% url 'reps' %}">Next</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid row my-5" style=" text-align: center;">
    <div class="col-1"></div>
    <div id="keyBuilder" class="col-10">
        <div id="channelPicker" class="bg-dark text-white card mb-2">
            <div class="card-body">
                <h4 class="card-title">Pick a Channel</h4>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> RC
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> RD
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> RM
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> IMC
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> EMC
                    </label>
                    <label class="btn btn-outline-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> FD
                    </label>
                </div>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <div class="card-body" style="max-height: 85vh">
                <h4 class="card-title">Key Builder </h4>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button disabled class="  btn-secondary rounded-left col-12" style="height:
                            34px" type="button"> <span class="fa fa-search fa-1x"></span></button>
                    </div>
                    <select autofocus class="js-example-basic-multiple col-10 mousetrap" name="states[]"
                            multiple="multiple">

                    </select>
                    <div class="input-group-apppend">
                        <button id="create" onclick="create()" class=" btn-primary rounded-right" style="height:
                            34px" type="button">Create</button>
                    </div>
                </div>
                    <ul id="keylist" style="overflow-y:auto; max-height:30vh; min-height: 5vh; width: 100%;">

                    </ul>
                <hr class="my-2">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <button id="keygen" class="btn btn-primary btn-block badge-pill my-2" onclick="generateKeys()"
                                data-toggle="modal" data-target="#progress" data-backdrop="static" data-keyboard="false">
                            <b>GO</b>
                        </button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>

</div>
</body>
</html>