<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duplify | Upload</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */


    </style>
</head>
<body class="bg-dark" style="transition: 2s; overflow: hidden">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script src="https://www.jqueryscript.net/demo/Polygonal-Particles-Background-polygonizr/polygonizr.min.js"></script>
<script>
    //TODO add in welcoming: "Welcome to Duplify"<->fade in with polygonizr
    //TODO fade out then fade in chain of Start by uploading your rep list here and your salesforce report here-fade out
    function filename(file, label) {
        var name = $(file).val().replace("C:\\fakepath\\","");

        $(label).text(name);
    }

    function bg() {

        $("body").polygonizr({

            restNodeMovements: 0,// How long to pause in between new node-movements.

            duration: 4, // When the cluster updates, this sets speed of nodes.

            nodeMovementDistance: 400, // Define the maximum distance to move nodes.

            numberOfNodes: 36,// The number of node nodes to print out.

            nodeDotSize: 2.5,// Define the maximum size of each node dot.

            nodeEase: "linear",//linear, easeIn, easeOut, easeInOut, accelerateDecelerate.

            nodeFancyEntrance: false,// If true, the nodes will descend into place on load.

            randomizePolygonMeshNetworkFormation: false,// Makes the cluster forms an ellipse inspired formation, random if true.

            // Define a formula for how to initialize each node dot's position.
            specifyPolygonMeshNetworkFormation: function (i) {
                var forEachNode = {// Half a circle and randomized
                    x: this.canvasWidth - ((this.canvasWidth / 2) + (this.canvasHeight / 2) * Math.cos(i * (2 * Math.PI / this.numberOfNodes))) * Math.random(),
                    y: this.canvasHeight - (this.canvasHeight * (i / this.numberOfNodes))
                };
                return forEachNode;
            },

            nodeRelations: 15,// Number of relations between nodes.

            animationFps: 300, // The FPS for the whole canvas.

            nodeDotColor: "0, 0 0 ",// Sets the color of the nodes in the network (RGB).

            nodeLineColor: "0, 0, 0 ",// Sets the color of the lines in the network (RGB).

            nodeFillColor: "0, 0, 0 ",// Sets the color of  triangles in the network (RGB).

            nodeFillAlpha: 2,// Sets the alpha level for the colors (1-0).

            nodeLineAlpha: 0, // Sets the alpha level for the lines (1-0).

            nodeDotAlpha: 0,// Sets the alpha level for the dots (1-0).

            nodeFillSpace: true,// Defines if the triangles in the network should be shown.

            nodeGlowing: false,// Define if the active animation should glow or not (not CPU friendly).

            // Define the canvas size and css position.
            canvasWidth: $(this).width(),
            canvasHeight: $(this).height(),
            canvasPosition: "absolute"

        });
        $("body").polygonizr({

            restNodeMovements: 0,// How long to pause in between new node-movements.

            duration: 8, // When the cluster updates, this sets speed of nodes.

            nodeMovementDistance: 400, // Define the maximum distance to move nodes.

            numberOfNodes: 36,// The number of node nodes to print out.

            nodeDotSize: 1,// Define the maximum size of each node dot.

            nodeEase: "linear",//linear, easeIn, easeOut, easeInOut, accelerateDecelerate.

            nodeFancyEntrance: false,// If true, the nodes will descend into place on load.

            randomizePolygonMeshNetworkFormation: false,// Makes the cluster forms an ellipse inspired formation, random if true.

            // Define a formula for how to initialize each node dot's position.
            specifyPolygonMeshNetworkFormation: function (i) {
                var forEachNode = {// Half a circle and randomized
                    x: this.canvasWidth - ((this.canvasWidth / 2) + (this.canvasHeight / 2) * Math.cos(i * (2 * Math.PI / this.numberOfNodes))) * Math.random(),
                    y: this.canvasHeight - (this.canvasHeight * (i / this.numberOfNodes))
                };
                return forEachNode;
            },

            nodeRelations: 15,// Number of relations between nodes.

            animationFps: 300, // The FPS for the whole canvas.

            nodeDotColor: "255, 255, 255 ",// Sets the color of the nodes in the network (RGB).

            nodeLineColor: "255, 255, 255",// Sets the color of the lines in the network (RGB).

            nodeFillColor: "255, 255, 255 ",// Sets the color of  triangles in the network (RGB).

            nodeFillAlpha: 3,// Sets the alpha level for the colors (1-0).

            nodeLineAlpha: 0, // Sets the alpha level for the lines (1-0).

            nodeDotAlpha: 0,// Sets the alpha level for the dots (1-0).

            nodeFillSpace: true,// Defines if the triangles in the network should be shown.

            nodeGlowing: false,// Define if the active animation should glow or not (not CPU friendly).

            // Define the canvas size and css position.
            canvasWidth: $(this).width(),
            canvasHeight: $(this).height(),
            canvasPosition: "absolute"

        });
    }
    bg();

    var colors = new Array(
        [127.5,127.5,127.5],
        [255,255,255],
        [0,0,0],
        [255,255,255],
        [0,0,0],
        [127.5,127.5,127.5],);

    var step = 0;
    //color table indices for:
    // current color left
    // next color left
    // current color right
    // next color right
    var colorIndices = [0,1,2,3];

    //transition speed
    var gradientSpeed = 0.001;

    function updateGradient()
    {

        if ( $===undefined ) return;

        var c0_0 = colors[colorIndices[0]];
        var c0_1 = colors[colorIndices[1]];
        var c1_0 = colors[colorIndices[2]];
        var c1_1 = colors[colorIndices[3]];

        var istep = 1 - step;
        var r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
        var g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
        var b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
        var color1 = "rgb("+r1+","+g1+","+b1+")";

        var r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
        var g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
        var b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
        var color2 = "rgb("+r2+","+g2+","+b2+")";

        $('body').css({
            background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
            background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});

        step += gradientSpeed;
        if ( step >= 1 )
        {
            step %= 1;
            colorIndices[0] = colorIndices[1];
            colorIndices[2] = colorIndices[3];

            //pick two new target color indices
            //do not pick the same as the current one
            colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
            colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;

        }
    }

    setInterval(updateGradient,20);

    function verify(){
        $.wait = function( callback, seconds){
            return window.setTimeout( callback, seconds * 1000 );
        }
        $(document).on('click', '.btn-success', function(e) {


            if( $(".rep").text().substr(-3) != 'csv' ||  $(".sf").text().substr(-3) != 'csv') {
                if( $(".rep").text() == 'Choose file' ||   $(".sf").text() == 'Choose file' || $(".rep").text() ==
                    '' ||   $(".sf").text() == '' ) {
                    e.preventDefault(); //prevent the default action
                    $(".files").removeClass("invisible");//.delay(5).addClass("invisible");
                    $.wait( function(){ $(".files").addClass("invisible") }, 3);

                }else {
                    // e.preventDefault(); //prevent the default action
                    $(".format").removeClass("invisible");//.delay(5).addClass("invisible");
                    $.wait(function () {
                        $(".format").addClass("invisible")
                    }, 3);
                }

            } });
    }
    function f() {
        if (confirm('WARNING: You are about to erase all records in the database.')) {
            window.location.replace("{% url 'flush_db' %}");
        } else {
            // Do nothing!
        }
    }

</script>
<nav class="navbar navbar-light navbar-expand-lg justify-content-between" style="background: transparent">
    <a class="navbar-brand" href="#"> <h3>Duplify</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:f()">Reset</a>
            </li>
        </ul>
    </div>
</nav>
<div class="alert format alert-warning alert-dismissible invisible text-center" role="alert">
    <b>Files must be csv format</b>
</div>
<div class="alert files alert-warning alert-dismissible invisible text-center" role="alert">
    <b>Upload a rep list and a SF report before continuing</b>
</div>

<div class="container" style="padding-top: 50px;  height: 100%; width: 80%;">
    <div class="row">
        <div class="col-1"></div>
        <div class="card col-10  my-5 bg-transparent text-primary ">
            <div class="card-header  text-center"> <h3> File Upload </h3></div>
            <div class="card-body ">
                {% block content %}
                    <form method="post" action="/keys/" enctype="multipart/form-data">
                        {% csrf_token %}

                        <h6 class="card-text  text-center">Upload Rep List Here</h6>
                        <div class="custom-file ">

                            <input type="file" class=" badge-pill custom-file-input" id="repFile" name="repFile"
                                   onchange="filename(this, '.rep')">
                            <label class=" custom-file-label rep" for="repFile">Choose file</label>
                        </div>

                        <h6 class="card-text  mt-5 text-center">Upload SF Report Here</h6>
                        <div class="custom-file ">

                            <input type="file" class="custom-file-input" id="sfFile" name="sfFile"
                                   onchange="filename(this, '.sf')">
                            <label class=" custom-file-label sf" for="sfFile">Choose file</label>
                        </div>
                        <hr class="my-3">

                        <div class="row">
                            <div  class="col-4"></div>
                            <div  class="col-4">
                                <button type="Submit" onclick="verify()" class="btn btn-success btn-large btn-block
                                        badge-pill
                                        float-right"><h5 class="my-2">Upload</h5></button>
                            </div>
                            <div  class="col-4"></div>
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
</html>